[Unit]
Description=KájovoCML NG Secret Broker socket
[Socket]
ListenStream=/run/kajovocml-ng/brokers/secret-broker.sock
SocketUser=kcml-secret-broker
SocketGroup=kcml-runtime-gateway
SocketMode=0660
DirectoryMode=0750
Accept=no
RemoveOnStop=yes
[Install]
WantedBy=sockets.target
